.valueWrapper {
  font-family: "Inter", sans-serif;
  font-weight: 550;
  color: #212529;
  display: flex;
  align-items: center;
}

.symbol {
  margin-right: 3px;
}

.currency {
  font-size: 0.8em;
  margin-right: 2px;
}

.number {
  font-variant-numeric: tabular-nums;
}

.plus {
  transform: translateY(-1px);
}
