.formRow {
  display: grid;
  align-items: center;
  text-align: left;
  grid-template-columns: 180px 1.5fr 1fr;
  margin: 20px 0 0 40px;
  padding-right: 10px;
  width: 100%;
}

.error {
  font-size: 1.5rem;
  color: var(--clr-err);
  justify-self: start;
  margin-left: 10%;
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px) {
  .formRow {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
  }

  /* file input */
  input[type="file"] {
    width: auto;
    max-width: 100%;
    text-align: center;
  }

  .error {
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .formRow {
    width: 100%;
  }
}
