.formRow {
  display: grid;
  align-items: flex-start;
  text-align: left;
  grid-template-columns: 120px 1.5fr 1fr;
  column-gap: 2rem;
  padding: 0.5rem 0;
  margin-left: 40px;
}

.error {
  font-size: 1.5rem;
  color: var(--clr-err);
  justify-self: start;
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px) {
  .formRow {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  /* file input */
  input[type="file"] {
    width: auto;
    max-width: 100%;
    text-align: center;
  }
}
