.sumTitle {
  margin-bottom: 18px;
  text-align: center;
}

.para {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 18px 0 24px 0;
}

.span {
  text-align: right;
  color: #2d6cdf;
}

.subSumTitle {
  margin: 6px 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #2d6cdf;
}

.link {
  display: flex;
  justify-content: space-between;
  margin: 18px 0 24px 0;
}
