.sumTitle {
  margin-bottom: 18px;
}

.para {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 8px 0;
}

.para span {
  text-align: right;
}

div {
  margin: 18px 0 24px 0;
}

.subSumTitle {
  margin: 6px 0;
  font-weight: 500;
  color: #2d6cdf;
}

.para .span {
  color: #2d6cdf;
  font-size: 1.8rem;
}

.link {
  display: flex;
  justify-content: space-between;
}
