.sumTitle {
  margin-bottom: 18px;
  text-align: center;
}

.para {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 18px 0 24px 0;
}

.span {
  text-align: right;
  color: #2d6cdf;
}

.subSumTitle {
  margin: 6px 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #2d6cdf;
}

.link {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin: 18px 0 24px 0;
}

.btnText {
  display: inline;
  margin-left: 8px;
}

.link a,
.link button {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link svg {
  width: 25px;
  height: 25px;
  transition: all 0.2s;
}
@media (max-width: 768px) {
  .btnText {
    display: none;
  }

  .link {
    justify-content: space-around;
  }

  .link svg {
    width: 28px;
    height: 28px;
  }

  .link a,
  .link button {
    padding: 15px;
    border-radius: 50%;
  }

  .para {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 18px 0 24px 0;
  }
}
