.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 4rem;
}

.loginRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  max-width: 600px;
  width: 90%;
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  background: linear-gradient(135deg, var(--clr-bg-2), var(--clr-hl));
}

.loginForm input {
  padding: 0.8rem 1rem;
  border: 1.5px solid #ddd;
  border-radius: 0.8rem;
  outline: none;
  background-color: #fff;
  transition: 0.2s ease;
  width: 100%;
}

.loginForm input:focus {
  border-color: var(--clr-bg-2);
  background-color: var(--clr-bg-1);
}
