.signupPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 4rem;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.signupForm {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.6rem;
  background: linear-gradient(135deg, var(--clr-bg-2), var(--clr-hl));
  padding: 20px 0 0 20px;
  border-radius: 1.5rem;
}

.signupForm .signupRow {
  grid-template-columns: 1.3fr 1.2fr 1.8fr;
}

@media (max-width: 768px) {
  .signupForm {
    align-items: center;
  }

  .signupRow {
    width: 90%;
  }
}

.input {
  padding: 0.8rem 1rem;
  border: 1.5px solid #ddd;
  border-radius: 0.8rem;
  outline: none;
  background-color: #fff;
  transition: 0.2s ease;
  width: 100%;
}

.input:focus {
  border-color: var(--clr-bg-2);
  background-color: var(--clr-bg-element);
}
