.expenseContainer {
  text-align: center;
  position: relative;
  padding-top: 1rem;
}

.detail {
  display: grid;
  grid-template-columns: minmax(100px, 1.5fr) minmax(140px, 2.5fr);
  gap: 2rem;
  align-items: center;
  justify-items: flex-start;
  padding: 0 2rem;
  margin-top: 20px;
}

.tag {
  position: absolute;
  top: 1.5rem;
  right: 15px;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.tagIncome {
  background-color: #ebfbee;
  color: #2b8a3e;
}

.tagExpense {
  background-color: #fff5f5;
  color: #c92a2a;
}

.notesContent {
  text-align: left;
  white-space: pre-wrap;
  word-break: break-word;
}

.btnGroup {
  grid-column: span 2;
  justify-self: center;
  display: flex;
  gap: 2rem;
  margin: 2rem;
}

.backButton {
  display: none;
}

@media (max-width: 1200px) {
  .btnGroup > * {
    font-size: 1.8rem;
  }

  .backButton {
    position: absolute;
    top: 1rem;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .backButton:hover {
    background: none;
  }
}
