.expensesContainer {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.list {
  list-style: none;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-right: 1px solid #ccc;
  padding-right: 1rem;
}

@media (max-width: 768px) {
  .expensesContainer {
    display: block;
    position: relative;
    min-height: 100vh;
  }

  .detailContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    overflow: hidden;
    border-radius: 20%;
  }
}

.detailContainer > div {
  pointer-events: auto;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
}

.expenseItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
}

.expenseItem:hover {
  background-color: #f0f0f0;
}

.totalAmount {
  margin: 6rem 0;
  font-size: 1.8rem;
}
