.layout {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1002;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > * {
  pointer-events: auto;
}

@media (max-width: 768px) {
  .header {
    height: 100dvh;
    display: block;
  }
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 120px 0 20px 0;
  background: var(--clr-bg-page);
}

@media (max-width: 768px) {
  .main {
    padding-bottom: 85px;
  }
}
